.box-layout{
    align-items: center;
    background: url('/assets/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    width:100vw;

    @media(max-height:$desktop-breakpoint) {
        height: 180vh;
    }
};

.box-layout__box{
    background: fade-out($color: white, $amount: 0.15);
    border-radius: 3px;
    text-align: center;
    width: 40rem;
    padding: $l-size $m-size
}

.box-layout__title{
    margin: 0 0 $s-size 0;
    line-height: 1;
}