.button{
    font-size: $font-size-large;
    font-weight: 300;
    background:$blue;
    display: inline-block;
    border: none;
    padding: $s-size;
    color:white;
    text-decoration: none;
    line-height: 1;
}

.button--link{
    background: none;
}

.button--secondary{
    background: #888;
}

.button--login{
    font-weight: 400;
    background: #1c88bf;
    border-radius: 5px;
    margin: 0 $s-size;
}
.button_mini{
    background: none;
    font-weight: bolder;
    border: none;
}