.text-input{
    border: 1px solid #cacccd;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}

.select{
    @extend .text-input;
    background: none;
}

.text-area{
    @extend .text-input;
    height: 10rem;
}

.text-input--login{
    margin: 0 $s-size
}